Source: parmap
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Mehdi Dogguy <mehdi@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 ocaml,
 ocaml-dune,
 libdune-ocaml-dev,
 dh-ocaml
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://rdicosmo.github.io/parmap/
Vcs-Browser: https://salsa.debian.org/ocaml-team/parmap
Vcs-Git: https://salsa.debian.org/ocaml-team/parmap.git

Package: libparmap-ocaml
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides: ${ocaml:Provides}
Suggests: ocaml-findlib
Description: small OCaml library allowing to exploit multicore architectures (runtime)
 Parmap is a minimalistic library allowing to exploit multicore
 architectures for OCaml programs with minimal modifications.
 .
 This package provides the runtime library.

Package: libparmap-ocaml-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides: ${ocaml:Provides}
Description: small OCaml library allowing to exploit multicore architectures (development)
 Parmap is a minimalistic library allowing to exploit multicore
 architectures for OCaml programs with minimal modifications.
 .
 This package provides the development files needed to build OCaml programs
 linking to this library.
